html {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

/* 1. Header */
header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    padding: 0 200px;
}

.header_logo {
    font-weight: 800;
}

.header_logo p {
    font-size: 24px; 
    color: #F9FAF8;
    margin: 10px 0;
}

nav ul {
    list-style: none;
}

ul li {
    display: inline;
    margin: 0 10px;
}

/* 2. Intro section */

.intro {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    padding: 0 200px;
}

.intro_text p {
    font-size: 18px;
    color: #E5E7EB;
}

.intro_text {
    width: 40%;
    align-content: space-between;
}

.intro_image-placeholder {
    background-color: #6D747D;
    color: #F9FAF8;
    width: 40%;
    text-align: center;
    /* Change this later*/
    padding: 100px 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.singup-button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 8px 20px;
    font-weight: 700;
    border-radius: 5px;
}

/* 3. Info section */

.info {
    display: flex;
    background-color: #F9FAF8;
    justify-content: space-between;
    padding: 0 150px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 40px auto;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.info_card-row {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 20% 40px;
}

.info_card {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 5px;
}

.info_card img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    align-self: center;
}

.info_card p {
    text-align: center;
}

/* 4. Quote section */

.quote {
    background-color: #E5E7EB;
    padding: 50px 400px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote_author p {
    text-align: end;
    font-style: normal;
    font-weight: 800;
}

/* 5. Banner section */

.banner {
    background-color: #F9FAF8;
    padding: 75px 250px;
}

.banner_block {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
    border-radius: 10px;
}

.banner_block-text h3, .banner_block-text p {
    color: #F9FAF8;
    margin: 5px 0;
}

h3 {
    font-size: 23px;
}

.banner_block-button {
    align-self: center;
    border: 1px solid white;
}

/* 6. Footer */

footer {
    text-align: center
}

footer p {
    color: #F9FAF8;
}